

*{
   
    box-sizing: border-box;
  
}


body{
    margin: 0;
    padding: 0;
 
}
.container{
    margin: 0;
    padding: 0;
}
.header{
    border-bottom: 1px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.img-footer{
    width: 50%;
 }

.footer{
    padding: 20px;
    background-color:  #D1F2EB ;
    font-size: 1.2rem;
    font-weight: bold;
    color:#ffffcc;
   
}

.footer-nav{
    text-align: right;
}
